/* custom */

#root{
  text-align: center;
}

form{
  display: flex;
  flex-direction:column;
}

label{
  margin: 2%;
}

button {
  width:50%;
  max-width: 250px;
  margin:auto;
}

.descriptionNote{
  max-width: 200px;
  margin: auto;
  margin-bottom: 2%;
}

.error {
  color: rgba(255, 0, 0, 0.75);
}